*.war
*.iws
*.iml
*.ipr
target/
*.db
*.class
package/
dist/
_book/
.idea/
*.log
.DS_Store
.gradle
.project
.classpath
build/
out/
node_modules/
.sass-cache/
bower_components/
.tmp/
images/sprite-*.png
zhaopin.log
zhaopin.log.*
docs/~$*.xlsx
gradle.properties
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache